@import '../../styles/variables';
header {
  font-family: 'Bebas Neue', serif;
  background-color: $beige;
  position: relative;
  .container {
    margin: auto;
    overflow: hidden;
    width: 75%;
  }
}
