@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&display=swap");
header {
  font-family: 'Bebas Neue', serif;
  background-color: #f9efe7;
  position: relative;
  margin: 20px 20px 0 20px;
}

header .container {
  margin: auto;
  overflow: hidden;
  width: 75%;
}

@media screen and (min-width: 1500px) {
  header .container {
    width: 87%;
  }
}

@media screen and (max-width: 1300px) {
  header .container {
    width: 90%;
  }
}

footer {
  background-color: #f9efe7;
  margin: 0 20px;
  margin-bottom: 20px;
}

footer .container {
  margin: auto;
  overflow: hidden;
  width: 85%;
  padding-top: 30px;
  padding-bottom: 20px;
}

footer .container .footer__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (max-width: 800px) {
  footer .container .footer__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

footer .container .footer__head h1 {
  font-family: 'Abril Fatface', sans-serif;
  font-weight: normal;
  font-size: 50px;
  color: #0e0e0e;
}

@media screen and (max-width: 400px) {
  footer .container .footer__head h1 {
    font-size: calc(30px + 1vh);
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  footer .container .footer__head h1 {
    text-align: left;
  }
}

footer .container .footer__head h1 .line__container {
  margin-left: 5px;
}

footer .container .footer__head h1 .line__container [data-aos='scale-animation-first'] {
  width: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

footer .container .footer__head h1 .line__container [data-aos='scale-animation-first'].aos-animate {
  width: 95%;
}

footer .container .footer__head .footer__description {
  color: #0e0e0e;
  font-size: 18px;
  padding-top: 20px;
  line-height: 1.8;
  text-align: left;
  width: 40%;
}

@media screen and (max-width: 1100px) {
  footer .container .footer__head .footer__description {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  footer .container .footer__head .footer__description {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  footer .container .footer__head .footer__description {
    width: 95%;
  }
}

footer .container .footer__head .footer__description span {
  font-weight: bold;
}

footer .container .footer__head .footer__description [data-aos='scale-animation-second'] {
  width: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

footer .container .footer__head .footer__description [data-aos='scale-animation-second'].aos-animate {
  width: 95%;
}

footer .container .copyright {
  margin-top: 120px;
  color: #0e0e0e;
  font-size: 16px;
  opacity: 70%;
  padding-top: 80px;
  line-height: 1.5;
  font-weight: 300;
  text-align: left;
}

@media screen and (max-width: 800px) {
  footer .container .copyright {
    margin-top: 80px;
  }
}

nav {
  padding: 40px 0;
  margin: auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo__container {
  cursor: pointer;
}

nav .logo__container h1 {
  font-weight: normal;
  font-size: 30px;
  color: #0e0e0e;
}

nav .logo__container h1 span {
  color: #db7406;
}

nav .menu__container {
  display: none;
  width: 25px;
  cursor: pointer;
}

nav .menu__container .hamburger__icon {
  color: #0e0e0e;
}

@media screen and (max-width: 800px) {
  nav .menu__container {
    display: block;
  }
}

nav .nav__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav .nav__list ul li {
  padding: 0 10px;
  position: relative;
  letter-spacing: 0.8px;
  font-size: 25px;
  cursor: pointer;
  color: #0e0e0e;
}

nav .nav__list ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
  height: 2.1px;
  background-color: #0e0e0e;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  width: 75%;
}

nav .nav__list ul li:hover::after {
  -webkit-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
}

nav .nav__list ul .portfolio__list__item {
  color: #db7406;
}

nav .nav__list ul .portfolio__list__item::after {
  background-color: #db7406;
}

@media screen and (max-width: 800px) {
  nav .nav__list {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100px;
    z-index: 200;
    width: 90%;
    background-color: #0e0e0e;
    padding: 20px;
    left: 5%;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  nav .nav__list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .nav__list ul .portfolio__list__item {
    color: #ff9b38;
  }
  nav .nav__list ul .portfolio__list__item::after {
    background-color: #ff9b38;
  }
  nav .nav__list ul li {
    margin: 20px 0;
    color: #fff;
  }
  nav .nav__list ul li::after {
    background-color: #fff;
  }
}

.active {
  visibility: visible !important;
  opacity: 1 !important;
  -webkit-transform: translateY(0%) !important;
          transform: translateY(0%) !important;
}

.hero__section {
  padding-top: 70px;
  position: relative;
  background-color: #f9efe7;
  min-height: 100vh;
  margin: 0 20px;
}

@media screen and (max-width: 1100px) {
  .hero__section {
    min-height: auto;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 600px) {
  .hero__section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.hero__section .container {
  position: relative;
  margin: auto;
  width: 75%;
}

@media screen and (min-width: 1500px) {
  .hero__section .container {
    width: 87%;
  }
}

@media screen and (max-width: 1300px) {
  .hero__section .container {
    width: 90%;
  }
}

.hero__section .container .hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 800px) {
  .hero__section .container .hero__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.hero__section .container .hero__content .illustration__container {
  position: relative;
  width: 438px;
  height: 418px;
}

@media screen and (min-width: 1500px) {
  .hero__section .container .hero__content .illustration__container {
    width: 418px;
    height: 390px;
  }
}

@media screen and (max-width: 700px) {
  .hero__section .container .hero__content .illustration__container {
    height: 500px;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .hero__section .container .hero__content .illustration__container {
    margin-top: 80px;
  }
}

.hero__section .container .hero__content .illustration__container .hero__avatar {
  background: url("../../public/images/other/hero.jpeg") no-repeat;
  background-position: 0 45%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  border-radius: 4px;
}

.hero__section .container .hero__content .illustration__container .hero__dots {
  background: url("../../public/images/dots/dots-hero.svg") no-repeat;
  position: absolute;
  right: 40px;
  top: 40px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 1500px) {
  .hero__section .container .hero__content .illustration__container .hero__dots {
    top: 50px;
  }
}

@media screen and (max-width: 700px) {
  .hero__section .container .hero__content .illustration__container .hero__dots {
    display: none;
  }
}

.hero__section .container .hero__content .text__content {
  width: 65%;
}

@media screen and (max-width: 900px) {
  .hero__section .container .hero__content .text__content {
    width: 100%;
  }
}

.hero__section .container .hero__content .text__content h1 {
  font-family: 'Abril Fatface', sans-serif;
  font-weight: normal;
  font-size: calc(45px + 2vh);
  color: #0e0e0e;
}

@media screen and (min-width: 1500px) {
  .hero__section .container .hero__content .text__content h1 {
    font-size: calc(45px + 1vh);
  }
}

@media screen and (max-width: 1300px) {
  .hero__section .container .hero__content .text__content h1 {
    font-size: calc(40px + 1vh);
  }
}

@media screen and (max-width: 900px) {
  .hero__section .container .hero__content .text__content h1 {
    font-size: calc(35px + 1vh);
  }
}

@media screen and (max-width: 800px) {
  .hero__section .container .hero__content .text__content h1 {
    font-size: calc(40px + 1vh);
  }
}

@media screen and (max-width: 550px) {
  .hero__section .container .hero__content .text__content h1 {
    font-size: calc(35px + 1vh);
  }
}

@media screen and (max-width: 400px) {
  .hero__section .container .hero__content .text__content h1 {
    font-size: calc(30px + 1vh);
  }
}

@media screen and (max-width: 300px) {
  .hero__section .container .hero__content .text__content h1 {
    font-size: calc(25px + 1vh);
  }
}

.hero__section .container .hero__content .text__content h1 .line__container [data-aos='scale-animation-first'] {
  width: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

.hero__section .container .hero__content .text__content h1 .line__container [data-aos='scale-animation-first'].aos-animate {
  width: 100%;
}

.hero__section .container .hero__content .text__content h1 .line__container [data-aos='scale-animation-second'] {
  width: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 1.7s;
          transition-delay: 1.7s;
}

.hero__section .container .hero__content .text__content h1 .line__container [data-aos='scale-animation-second'].aos-animate {
  width: 100%;
}

.hero__section .container .hero__content .text__content p {
  width: 60%;
  color: #0e0e0e;
  line-height: 1.8;
  font-size: 20px;
  margin: 20px 0;
}

@media screen and (max-width: 1300px) {
  .hero__section .container .hero__content .text__content p {
    width: 70%;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  .hero__section .container .hero__content .text__content p {
    font-size: 16px;
    width: 85%;
  }
}

.hero__section .container .hero__content .text__content .primary__btn__container {
  margin-top: 20px;
}

.hero__section .scroll__block {
  position: absolute;
  left: auto;
  top: auto;
  right: 8%;
  bottom: -4%;
  display: inline-block;
  width: 46px;
  overflow: hidden;
  height: 105px;
}

@media screen and (max-width: 900px) {
  .hero__section .scroll__block {
    bottom: -5%;
  }
}

@media screen and (max-width: 600px) {
  .hero__section .scroll__block {
    display: none;
  }
}

.hero__section .scroll__block .scroll__arrow {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: inline-block;
  width: 2px;
  height: 105px;
  background-color: #000;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.hero__section .scroll__block .scroll__text {
  position: absolute;
  left: 46px;
  top: 0%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: auto;
  bottom: auto;
  display: inline-block;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  font-weight: 700;
  text-transform: uppercase;
}

.portfolio__section {
  margin-top: 140px;
  padding-bottom: 120px;
  position: relative;
}

.portfolio__section .dots__light__container {
  background: url("/images/dots/dots-portfolio-light.svg") no-repeat;
  background-size: contain;
  position: absolute;
  width: 187px;
  height: 250px;
  top: 0px;
  right: -80px;
  z-index: -1;
}

.portfolio__section .dots__dark__container {
  background: url("/images/dots/dots-dark.svg") no-repeat;
  background-size: cover;
  position: absolute;
  width: 187px;
  height: 247.47px;
  left: 41px;
  bottom: -200px;
}

.portfolio__section .portfolio__head {
  text-align: center;
  z-index: 100;
}

.portfolio__section .portfolio__head h1 {
  font-family: 'Abril Fatface', sans-serif;
  font-weight: normal;
  font-size: 40px;
  color: #0e0e0e;
}

.portfolio__section .portfolio__head h1 span {
  color: #db7406;
}

@media screen and (max-width: 400px) {
  .portfolio__section .portfolio__head h1 {
    font-size: calc(30px + 1vh);
  }
}

@media screen and (max-width: 280px) {
  .portfolio__section .portfolio__head h1 {
    font-size: calc(25px + 1vh);
  }
}

.portfolio__section .portfolio__head p {
  color: #0e0e0e;
  font-size: 20px;
  margin: 20px 0;
  line-height: 1.8;
}

@media screen and (max-width: 400px) {
  .portfolio__section .portfolio__head p {
    width: 75%;
    margin: 20px auto;
  }
}

@media screen and (max-width: 280px) {
  .portfolio__section .portfolio__head p {
    font-size: 18px;
  }
}

.portfolio__section .projects__grid {
  margin-top: 80px;
}

.portfolio__section .projects__grid .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  width: 75%;
  margin: auto;
  gap: 40px;
}

@media screen and (max-width: 280px) {
  .portfolio__section .projects__grid .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.project__card {
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  cursor: pointer;
  min-height: 255px;
}

.project__card:hover .overlay {
  opacity: 1;
}

.overlay {
  content: '';
  opacity: 0;
  width: 100%;
  height: 100%;
  background: url("/images/other/eye.png") no-repeat, rgba(0, 0, 0, 0.1);
  background-position: 55% 45%;
  background-size: auto;
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.skills__section {
  background-color: #f9efe7;
  padding-top: 140px;
  padding-bottom: 100px;
  margin: 0 20px;
}

.skills__section .skills__head {
  text-align: center;
}

.skills__section .skills__head h1 {
  font-family: 'Abril Fatface', sans-serif;
  font-weight: normal;
  font-size: 40px;
  color: #0e0e0e;
}

.skills__section .skills__head h1 [data-aos='scale-animation'] {
  left: 10px;
  width: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.skills__section .skills__head h1 [data-aos='scale-animation'].aos-animate {
  width: 100px;
}

@media screen and (max-width: 280px) {
  .skills__section .skills__head h1 {
    font-size: calc(25px + 1vh);
  }
}

.skills__section .skills__head p {
  color: #0e0e0e;
  font-size: 20px;
  padding-top: 20px;
  line-height: 1.8;
  width: 30%;
  margin: auto;
}

@media screen and (max-width: 1300px) {
  .skills__section .skills__head p {
    width: 40%;
  }
}

@media screen and (max-width: 1000px) {
  .skills__section .skills__head p {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .skills__section .skills__head p {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .skills__section .skills__head p {
    width: 70%;
  }
}

@media screen and (max-width: 400px) {
  .skills__section .skills__head p {
    width: 80%;
  }
}

@media screen and (max-width: 280px) {
  .skills__section .skills__head p {
    font-size: 18px;
  }
}

.skills__section .skills__grid {
  margin-top: 50px;
}

.skills__section .skills__grid .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  width: 75%;
  margin: auto;
  -webkit-column-gap: 8px;
          column-gap: 8px;
  row-gap: 30px;
}

@media screen and (max-width: 280px) {
  .skills__section .skills__grid .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.skill__card {
  background-color: #db7406;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  padding: 8px 0;
  font-weight: 600;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #db7406;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.skill__card:hover {
  background-color: #fff;
  color: #db7406;
}

.skill__card p {
  padding-right: 20px;
}

@media screen and (max-width: 280px) {
  .skill__card p {
    font-size: 14px;
  }
}

.react__card,
.redux__card,
.tailwind__card,
.css3__card,
.ssr__card,
.seo__card {
  grid-column: span 2;
}

@media screen and (max-width: 1300px) {
  .react__card,
  .redux__card,
  .tailwind__card,
  .css3__card,
  .ssr__card,
  .seo__card {
    grid-column: auto;
  }
}

.socials__section {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.socials__section .socials__head h1 {
  font-family: 'Abril Fatface', sans-serif;
  font-weight: normal;
  font-size: 40px;
  color: #0e0e0e;
}

.socials__section .socials__head h1 span {
  color: #db7406;
}

@media screen and (max-width: 400px) {
  .socials__section .socials__head h1 {
    font-size: calc(30px + 1vh);
  }
}

@media screen and (max-width: 280px) {
  .socials__section .socials__head h1 {
    font-size: calc(25px + 1vh);
  }
}

.socials__section .socials__head p {
  color: #0e0e0e;
  font-size: 20px;
  padding: 20px 0 5px 0;
  line-height: 1.8;
}

@media screen and (max-width: 600px) {
  .socials__section .socials__head p {
    width: 75%;
    margin: auto;
  }
}

@media screen and (max-width: 280px) {
  .socials__section .socials__head p {
    font-size: 18px;
  }
}

.socials__section .socials__grid {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (80px)[6];
      grid-template-columns: repeat(6, 80px);
}

@media screen and (max-width: 700px) {
  .socials__section .socials__grid {
    -ms-grid-columns: (80px)[3];
        grid-template-columns: repeat(3, 80px);
  }
}

@media screen and (max-width: 280px) {
  .socials__section .socials__grid {
    -ms-grid-columns: (80px)[2];
        grid-template-columns: repeat(2, 80px);
  }
}

.socials__card .socials__logo__container {
  border: 2px solid #db7406;
  border-radius: 50%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.socials__card .socials__logo__container svg path {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.socials__card .socials__logo__container:hover {
  background-color: #db7406;
}

.socials__card .socials__logo__container:hover svg path {
  fill: #fff;
}

.socials__card .socials__logo__container:hover .linkedin__card .path__2 {
  fill: #db7406;
}

.advantages__section {
  background-color: #f9efe7;
  padding-top: 120px;
  margin: 0 20px;
}

@media screen and (max-width: 900px) {
  .advantages__section {
    padding-bottom: 80px;
  }
}

.advantages__section .advantages__head {
  text-align: center;
}

@media screen and (max-width: 900px) {
  .advantages__section .advantages__head {
    padding-bottom: 80px;
  }
}

.advantages__section .advantages__head h1 {
  font-family: 'Abril Fatface', sans-serif;
  font-weight: normal;
  font-size: 40px;
  color: #0e0e0e;
}

.advantages__section .advantages__head h1 [data-aos='scale-animation'] {
  left: 10px;
  width: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.advantages__section .advantages__head h1 [data-aos='scale-animation'].aos-animate {
  width: 95px;
}

@media screen and (max-width: 280px) {
  .advantages__section .advantages__head h1 {
    font-size: calc(25px + 1vh);
  }
}

.advantages__section .advantages__head p {
  color: #0e0e0e;
  font-size: 20px;
  padding-top: 25px;
  line-height: 1.8;
  width: 25%;
  margin: auto;
}

@media screen and (max-width: 1300px) {
  .advantages__section .advantages__head p {
    width: 40%;
  }
}

@media screen and (max-width: 1000px) {
  .advantages__section .advantages__head p {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .advantages__section .advantages__head p {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .advantages__section .advantages__head p {
    width: 70%;
  }
}

@media screen and (max-width: 400px) {
  .advantages__section .advantages__head p {
    width: 80%;
  }
}

@media screen and (max-width: 280px) {
  .advantages__section .advantages__head p {
    font-size: 18px;
  }
}

.advantages__section .advantages__grid .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  width: 75%;
  gap: 40px;
  margin: auto;
}

@media screen and (max-width: 1100px) {
  .advantages__section .advantages__grid .container {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .advantages__section .advantages__grid .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 40px;
  }
}

.advantage__card {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 100px;
}

@media screen and (max-width: 900px) {
  .advantage__card {
    padding: 0 0;
  }
}

.advantage__card .advantage__logo {
  height: 90px;
  position: relative;
}

.advantage__card .title {
  padding: 20px 0;
  font-family: 'Abril Fatface', sans-serif;
  font-weight: normal;
  font-size: 32px;
  color: #0e0e0e;
}

.advantage__card p {
  color: #0e0e0e;
  font-size: 18px;
  margin: 20px 0;
  line-height: 1.8;
  width: 75%;
  margin: auto;
}

@media screen and (max-width: 1100px) {
  .advantage__card p {
    width: 85%;
  }
}

@media screen and (max-width: 900px) {
  .advantage__card p {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .advantage__card p {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .advantage__card p {
    width: 80%;
  }
}

@media screen and (max-width: 300px) {
  .advantage__card p {
    width: 85%;
  }
}

.services__section {
  padding: 120px 0;
}

.services__section .services__head {
  text-align: center;
}

.services__section .services__head h1 {
  font-family: 'Abril Fatface', sans-serif;
  font-weight: normal;
  font-size: 40px;
  color: #0e0e0e;
}

.services__section .services__head h1 span {
  color: #db7406;
}

@media screen and (max-width: 400px) {
  .services__section .services__head h1 {
    font-size: calc(30px + 1vh);
  }
}

.services__section .services__head p {
  color: #0e0e0e;
  font-size: 20px;
  padding-top: 20px;
  line-height: 1.8;
  width: 30%;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  .services__section .services__head p {
    width: 45%;
  }
}

@media screen and (max-width: 800px) {
  .services__section .services__head p {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .services__section .services__head p {
    width: 70%;
  }
}

@media screen and (max-width: 400px) {
  .services__section .services__head p {
    width: 80%;
  }
}

.services__section .services__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-top: 40px;
}

@media screen and (max-width: 600px) {
  .services__section .services__list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.services__section .services__list ul li {
  padding: 15px 50px;
  font-size: 18px;
  color: #0e0e0e;
  opacity: 65%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.services__section .services__list ul li:hover {
  opacity: 0.95;
}

@media screen and (max-width: 600px) {
  .services__section .services__list ul li {
    width: 80%;
    text-align: center;
  }
}

.services__section .services__list ul .active {
  border-bottom: 3px solid #ff9b38;
  opacity: 1;
  font-weight: 600;
}

.services__section .services__list ul .active:hover {
  color: #0e0e0e;
  opacity: 1;
}

.service__card {
  padding-top: 60px;
}

.service__card .container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 70%;
  gap: 50px;
  margin: auto;
}

@media screen and (max-width: 1300px) {
  .service__card .container {
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .service__card .container {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .service__card .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}

.service__card .container .service__illustration {
  position: relative;
  width: 406px;
  height: 300px;
}

@media screen and (max-width: 800px) {
  .service__card .container .service__illustration {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .service__card .container .service__content {
    text-align: center;
  }
}

.service__card .container .service__content h2 {
  padding: 10px 0;
  font-family: 'Abril Fatface', sans-serif;
  font-weight: normal;
  font-size: 40px;
  color: #0e0e0e;
}

@media screen and (max-width: 400px) {
  .service__card .container .service__content h2 {
    font-size: calc(30px + 1vh);
  }
}

.service__card .container .service__content p {
  color: #0e0e0e;
  font-size: 18px;
  line-height: 1.8;
  width: 85%;
  text-align: left;
  letter-spacing: 0.8px;
  padding: 10px 0;
}

@media screen and (max-width: 800px) {
  .service__card .container .service__content p {
    text-align: center;
    margin: auto;
    width: 75%;
  }
}

@media screen and (max-width: 600px) {
  .service__card .container .service__content p {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .service__card .container .service__content p {
    width: 90%;
  }
}

.service__card .container .service__content .primary__btn__container {
  margin-top: 30px;
}

.service__card .container .service__content .primary__btn__container .primary__btn {
  padding: 15px 35px;
}

.service__card .container .service__content .primary__btn__container .ghost__button {
  width: 145px;
  height: 55px;
}

button {
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:hover .primary__btn {
  -webkit-transform: translate(6px, 6px);
          transform: translate(6px, 6px);
}

button .primary__btn {
  padding: 18px 45px;
  background-color: #0e0e0e;
  min-width: 200px;
  outline: 0;
  border: 0;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 300;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

button .ghost__btn {
  content: '';
  position: absolute;
  min-width: 200px;
  height: 60px;
  border: 2px solid #0e0e0e;
  left: 6px;
  top: 6px;
}

.project__section {
  padding-top: 70px;
  position: relative;
  background-color: #f9efe7;
  min-height: 100vh;
  margin: 0 20px;
}

@media screen and (max-width: 1100px) {
  .project__section {
    min-height: auto;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 600px) {
  .project__section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.project__section .container {
  position: relative;
  margin: auto;
  width: 75%;
}

@media screen and (min-width: 1500px) {
  .project__section .container {
    width: 87%;
  }
}

@media screen and (max-width: 1300px) {
  .project__section .container {
    width: 90%;
  }
}

.project__section .container .project__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 800px) {
  .project__section .container .project__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.project__section .container .project__content .illustration__container {
  position: relative;
  width: 438px;
  height: 418px;
}

@media screen and (min-width: 1500px) {
  .project__section .container .project__content .illustration__container {
    width: 418px;
    height: 390px;
  }
}

@media screen and (max-width: 700px) {
  .project__section .container .project__content .illustration__container {
    height: 500px;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .project__section .container .project__content .illustration__container {
    margin-top: 80px;
  }
}

.project__section .container .project__content .illustration__container .project__avatar {
  background: url("../../public/images/other/hero.jpeg") no-repeat;
  background-position: 0 45%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  border-radius: 4px;
}

.project__section .container .project__content .text__content {
  width: 65%;
}

@media screen and (max-width: 900px) {
  .project__section .container .project__content .text__content {
    width: 100%;
  }
}

.project__section .container .project__content .text__content h1 {
  font-family: 'Abril Fatface', sans-serif;
  font-weight: normal;
  font-size: calc(45px + 2vh);
  color: #0e0e0e;
}

@media screen and (min-width: 1500px) {
  .project__section .container .project__content .text__content h1 {
    font-size: calc(45px + 1vh);
  }
}

@media screen and (max-width: 1300px) {
  .project__section .container .project__content .text__content h1 {
    font-size: calc(40px + 1vh);
  }
}

@media screen and (max-width: 900px) {
  .project__section .container .project__content .text__content h1 {
    font-size: calc(35px + 1vh);
  }
}

@media screen and (max-width: 800px) {
  .project__section .container .project__content .text__content h1 {
    font-size: calc(40px + 1vh);
  }
}

@media screen and (max-width: 550px) {
  .project__section .container .project__content .text__content h1 {
    font-size: calc(35px + 1vh);
  }
}

@media screen and (max-width: 400px) {
  .project__section .container .project__content .text__content h1 {
    font-size: calc(30px + 1vh);
  }
}

@media screen and (max-width: 300px) {
  .project__section .container .project__content .text__content h1 {
    font-size: calc(25px + 1vh);
  }
}

.project__section .container .project__content .text__content p {
  width: 60%;
  color: #0e0e0e;
  line-height: 1.8;
  font-size: 20px;
  margin: 20px 0;
}

@media screen and (max-width: 1300px) {
  .project__section .container .project__content .text__content p {
    width: 70%;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  .project__section .container .project__content .text__content p {
    font-size: 16px;
    width: 85%;
  }
}

.project__section .container .project__content .text__content .flex__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.project__section .container .project__content .text__content .flex__buttons .secondary__btn__container .primary__btn {
  background-color: #ff9b38;
  border: 2px solid #0e0e0e;
  color: #0e0e0e;
  padding: 16px 45px;
  font-weight: 600;
}

.project__section .container .project__content .text__content .flex__buttons .secondary__btn__container .ghost__btn {
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__layout {
  min-height: 100vh;
  overflow: hidden;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}

.main__layout .wrapper {
  min-width: 250px;
  max-width: 2000px;
  margin: auto;
}

.line__container {
  position: relative;
  display: inline-block;
  margin-right: 5px;
}

.line__container .line {
  z-index: -1;
  position: absolute;
  left: 4%;
  top: 50%;
  right: 0%;
  bottom: auto;
  height: 36%;
  margin-right: 4px;
  background-color: #ff9b38;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.nav__overlay {
  position: fixed;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.07);
  z-index: 99999;
}

@media screen and (max-width: 800px) {
  .reset__hero {
    padding-top: 160px;
    margin-top: 20px;
  }
}

.disable__scroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.disable {
  pointer-events: none !important;
  cursor: default !important;
}
/*# sourceMappingURL=default.css.map */