@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&display=swap");
header {
  font-family: 'Bebas Neue', serif;
  background-color: #f9efe7;
  position: relative;
}

header .container {
  margin: auto;
  overflow: hidden;
  width: 85%;
}

nav {
  margin: auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo__container {
  cursor: pointer;
}

nav .logo__container h1 {
  font-weight: normal;
  font-size: 30px;
  color: #262626;
}

nav .logo__container h1 span {
  color: #d67513;
}

nav ul {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav ul li {
  padding: 0 10px;
  position: relative;
  font-size: 22px;
  cursor: pointer;
  color: #262626;
}

nav ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
  height: 2.1px;
  background-color: #262626;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  width: 75%;
}

nav ul li:hover::after {
  -webkit-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
}

nav ul .portfolio__list__item {
  color: #d67513;
}

nav ul .portfolio__list__item::after {
  background-color: #d67513;
}

.hero__section {
  padding-top: 70px;
  background-color: #f9efe7;
  min-height: calc(95vh - 66px);
}

.hero__section .container {
  position: relative;
  margin: auto;
  height: 100%;
  width: 85%;
}

.hero__section .container .hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__section .container .hero__content .illustration__container {
  position: relative;
  width: 438px;
  height: 418px;
}

.hero__section .container .hero__content .illustration__container .hero__avatar {
  background: url("../../public/images/hero.jpeg") no-repeat;
  background-position: 0 45%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.hero__section .container .hero__content .illustration__container .hero__dots {
  background: url("../../public/images/dots-hero.svg") no-repeat;
  position: absolute;
  right: 40px;
  top: 40px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__section .container .hero__content .text__content {
  width: 75%;
}

.hero__section .container .hero__content .text__content h1 {
  font-family: 'Abril Fatface', sans-serif;
  font-weight: normal;
  font-size: 55px;
  color: #262626;
}

.hero__section .container .hero__content .text__content h1 .front__end__line {
  left: 10px;
  top: 45px;
  width: 250px;
}

.hero__section .container .hero__content .text__content h1 .web__designer__line {
  left: 20px;
  top: 45px;
  width: 325px;
}

.hero__section .container .hero__content .text__content p {
  width: 60%;
  color: #262626;
  font-size: 20px;
  opacity: 85%;
  margin: 20px 0;
  line-height: 1.5;
}

.hero__section .container .hero__content .text__content .primary__btn__container {
  margin-top: 20px;
}

.hero__section .container .scroll {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
  border-bottom: 2px solid #262626;
  padding-right: 55px;
  font-weight: normal;
  position: absolute;
  right: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  bottom: -160px;
}

.portfolio__section {
  margin-top: 180px;
  margin-bottom: 80px;
  position: relative;
}

.portfolio__section .dots__light__container {
  background: url("/images/dots-portfolio-light.svg") no-repeat;
  background-size: contain;
  position: absolute;
  width: 187px;
  height: 250px;
  top: 0px;
  right: -80px;
}

.portfolio__section .dots__dark__container {
  background: url("/images/dots-dark.svg") no-repeat;
  background-size: cover;
  position: absolute;
  width: 187px;
  height: 247.47px;
  left: 41px;
  bottom: 0;
}

.portfolio__section .portfolio__head {
  text-align: center;
}

.portfolio__section .portfolio__head h1 {
  font-family: 'Abril Fatface', sans-serif;
  font-weight: normal;
  font-size: 40px;
  color: #262626;
}

.portfolio__section .portfolio__head h1 span {
  color: #d67513;
}

.portfolio__section .portfolio__head p {
  color: #262626;
  font-size: 20px;
  opacity: 80%;
  margin: 20px 0;
  line-height: 1.5;
}

.portfolio__section .projects__grid {
  margin-top: 80px;
}

.portfolio__section .projects__grid .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  width: 75%;
  margin: auto;
  gap: 40px;
}

.project__card {
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  cursor: pointer;
  min-height: 255px;
}

.project__card:hover .overlay {
  opacity: 1;
}

.overlay {
  content: '';
  opacity: 0;
  width: 100%;
  height: 100%;
  background: url("/images/eye.png") no-repeat, rgba(0, 0, 0, 0.1);
  background-position: 55% 45%;
  background-size: auto;
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.skills__section {
  background-color: #f9efe7;
  padding-top: 150px;
  padding-bottom: 100px;
}

.skills__section .skills__head {
  text-align: center;
}

.skills__section .skills__head h1 {
  font-family: 'Abril Fatface', sans-serif;
  font-weight: normal;
  font-size: 40px;
  color: #262626;
}

.skills__section .skills__head h1 .line {
  left: 10px;
  top: 30px;
  width: 100px;
}

.skills__section .skills__head p {
  color: #262626;
  font-size: 20px;
  opacity: 80%;
  padding-top: 20px;
  line-height: 1.5;
  width: 30%;
  margin: auto;
}

.skills__section .skills__grid {
  margin-top: 50px;
}

.skills__section .skills__grid .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  width: 75%;
  margin: auto;
  -webkit-column-gap: 8px;
          column-gap: 8px;
  row-gap: 30px;
}

.skill__card {
  background-color: #d67513;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  padding: 8px 0;
  font-weight: 600;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #d67513;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.skill__card:hover {
  background-color: #fff;
  color: #d67513;
}

.skill__card p {
  padding-right: 20px;
}

.react__card,
.redux__card,
.tailwind__card,
.css3__card,
.ssr__card,
.seo__card {
  grid-column: span 2;
}

.socials__section {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.socials__section .socials__head h1 {
  font-family: 'Abril Fatface', sans-serif;
  font-weight: normal;
  font-size: 40px;
  color: #262626;
}

.socials__section .socials__head h1 span {
  color: #d67513;
}

.socials__section .socials__head p {
  color: #262626;
  font-size: 20px;
  opacity: 80%;
  padding: 20px 0 5px 0;
  line-height: 1.5;
}

.socials__section .socials__grid {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (80px)[6];
      grid-template-columns: repeat(6, 80px);
}

.socials__card .socials__logo__container {
  border: 2px solid #d67513;
  border-radius: 50%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.socials__card .socials__logo__container svg path {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.socials__card .socials__logo__container:hover {
  background-color: #d67513;
}

.socials__card .socials__logo__container:hover svg path {
  fill: #fff;
}

.socials__card .socials__logo__container:hover .linkedin__card .path__2 {
  fill: #d67513;
}

.services__section {
  background-color: #f9efe7;
  padding-top: 120px;
}

.services__section .services__head {
  text-align: center;
}

.services__section .services__head h1 {
  font-family: 'Abril Fatface', sans-serif;
  font-weight: normal;
  font-size: 40px;
  color: #262626;
}

.services__section .services__head h1 .line {
  left: 10px;
  top: 30px;
  width: 95px;
}

.services__section .services__head p {
  color: #262626;
  font-size: 20px;
  opacity: 80%;
  padding-top: 20px;
  line-height: 1.5;
  width: 30%;
  margin: auto;
}

.services__section .services__grid .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (250px)[3];
      grid-template-columns: repeat(3, 250px);
  width: 75%;
  margin: auto;
  gap: 40px;
}

.service__card {
  position: relative;
}

.primary__btn__container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.primary__btn__container:hover .primary__btn {
  -webkit-transform: translate(6px, 6px);
          transform: translate(6px, 6px);
}

.primary__btn__container .primary__btn {
  padding: 18px 45px;
  background-color: #262626;
  outline: 0;
  border: 0;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 300;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.primary__btn__container .ghost__button {
  content: '';
  position: absolute;
  width: 190px;
  height: 60px;
  border: 2px solid #262626;
  left: 6px;
  top: 6px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__layout {
  min-height: 100vh;
  overflow: hidden;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}

.main__layout .wrapper {
  min-width: 250px;
  max-width: 2000px;
  margin: auto;
}

.line__container {
  position: relative;
  z-index: 100;
}

.line__container .line {
  z-index: -1;
  position: absolute;
  height: 17px;
  background-color: #f08315;
}
/*# sourceMappingURL=default.css.map */