.advantages__section {
  background-color: $beige;
  padding-top: 120px;
  margin: 0 20px;
  @media screen and (max-width: 900px) {
    padding-bottom: 80px;
  }
  .advantages__head {
    text-align: center;
    @media screen and (max-width: 900px) {
      padding-bottom: 80px;
    }
    h1 {
      font-family: 'Abril Fatface', sans-serif;
      font-weight: normal;
      font-size: 40px;
      color: $very-dark-gray;
      [data-aos='scale-animation'] {
        left: 10px;
        width: 0;
        transition: all 0.5s ease-in-out;
        transition-delay: 0.6s;
        &.aos-animate {
          width: 95px;
        }
      }
      @media screen and (max-width: 280px) {
        font-size: calc(25px + 1vh);
      }
    }
    p {
      color: $very-dark-gray;
      font-size: 20px;
      padding-top: 25px;
      line-height: 1.8;
      width: 25%;
      margin: auto;
      @media screen and (max-width: 1300px) {
        width: 40%;
      }
      @media screen and (max-width: 1000px) {
        width: 50%;
      }
      @media screen and (max-width: 800px) {
        width: 60%;
      }
      @media screen and (max-width: 600px) {
        width: 70%;
      }
      @media screen and (max-width: 400px) {
        width: 80%;
      }
      @media screen and (max-width: 280px) {
        font-size: 18px;
      }
    }
  }
  .advantages__grid {
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 75%;
      gap: 40px;
      margin: auto;
      @media screen and (max-width: 1100px) {
        width: 80%;
      }
      @media screen and (max-width: 900px) {
        grid-template-columns: 1fr;
        gap: 40px;
      }
    }
  }
}
