.primary__btn__container {
  position: relative;
  display: inline-block;
  &:hover .primary__btn {
    transform: translate(6px, 6px);
  }
  cursor: pointer;
  .primary__btn {
    padding: 18px 45px;
    background-color: $very-dark-gray;
    outline: 0;
    border: 0;
    color: $white;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
  }
  .ghost__button {
    content: '';
    position: absolute;
    width: 190px;
    height: 60px;
    border: 2px solid $very-dark-gray;
    left: 6px;
    top: 6px;
  }
}
