.socials__section {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  .socials__head {
    h1 {
      font-family: 'Abril Fatface', sans-serif;
      font-weight: normal;
      font-size: 40px;
      color: $very-dark-gray;
      span {
        color: $dark-caramel;
      }
    }
    p {
      color: $very-dark-gray;
      font-size: 20px;
      opacity: 80%;
      margin: 20px 0;
      line-height: 1.5;
    }
  }
  .socials__grid {
    margin-top: 30px;
    display: grid;
    gap: 25px;
    justify-content: center;
    grid-template-columns: repeat(6, 80px);
  }
}
