@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  padding: 40px 0;
  margin: auto;
  overflow: hidden;
  @include flexSpaceBetween();
  .logo__container {
    cursor: pointer;
    h1 {
      font-weight: normal;
      font-size: 30px;
      color: $very-dark-gray;
      span {
        color: $dark-caramel;
      }
    }
  }
  .menu__container {
    display: none;
    width: 25px;
    cursor: pointer;
    .hamburger__icon {
      color: $very-dark-gray;
    }
    @media screen and(max-width: 800px) {
      display: block;
    }
  }
  .nav__list {
    ul {
      display: flex;
      list-style: none;
      li {
        padding: 0 10px;
        position: relative;
        letter-spacing: 0.8px;
        font-size: 25px;
        cursor: pointer;
        color: $very-dark-gray;
        &::after {
          content: '';
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%) scaleX(0);
          height: 2.1px;
          background-color: $very-dark-gray;
          transition: all 0.25s;
          width: 75%;
        }
        &:hover {
          &::after {
            transform: translateX(-50%) scaleX(1);
          }
        }
      }
      .portfolio__list__item {
        color: $dark-caramel;
        &::after {
          background-color: $dark-caramel;
        }
      }
    }
    @media screen and(max-width: 800px) {
      // display: none;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 100px;
      z-index: 200;
      width: 90%;
      background-color: $very-dark-gray;
      padding: 20px;
      left: 5%;
      transform: translateY(-100%);
      border-radius: 5px;
      transition: all 0.3s ease-in-out;
      ul {
        flex-flow: column nowrap;
        align-items: center;
        .portfolio__list__item {
          color: $light-caramel;
          &::after {
            background-color: $light-caramel;
          }
        }
        li {
          margin: 20px 0;
          color: $white;
          &::after {
            background-color: $white;
          }
        }
      }
    }
  }
}
.active {
  visibility: visible !important;
  opacity: 1 !important;
  transform: translateY(0%) !important;
}
