@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  margin: auto;
  overflow: hidden;
  @include flexSpaceBetween();
  .logo__container {
    cursor: pointer;
    h1 {
      font-weight: normal;
      font-size: 30px;
      color: $very-dark-gray;
      span {
        color: $dark-caramel;
      }
    }
  }
  ul {
    padding: 40px 0;
    display: flex;
    list-style: none;
    li {
      padding: 0 10px;
      position: relative;
      font-size: 22px;
      cursor: pointer;
      color: $very-dark-gray;
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) scaleX(0);
        height: 2.1px;
        background-color: $very-dark-gray;
        transition: all 0.25s;
        width: 75%;
      }
      &:hover {
        &::after {
          transform: translateX(-50%) scaleX(1);
        }
      }
    }
    .portfolio__list__item {
      color: $dark-caramel;
      &::after {
        background-color: $dark-caramel;
      }
    }
  }
}
