.hero__section {
  .illustration__container {
    width: 438px;
    height: 418px;
    background: url('../../public/images/hero.jpeg');
    background-size: cover;
    background-position: 0% 40%;
  }
}
