.skills__section {
  background-color: $beige;
  padding-top: 140px;
  padding-bottom: 100px;
  min-height: 100vh;
  margin: 0 20px;
  .skills__head {
    text-align: center;
    h1 {
      font-family: 'Abril Fatface', sans-serif;
      font-weight: normal;
      font-size: 40px;
      color: $very-dark-gray;
      .line {
        left: 10px;
        top: 30px;
        width: 100px;
      }
    }
    p {
      color: $very-dark-gray;
      font-size: 20px;
      padding-top: 20px;
      line-height: 1.8;
      width: 30%;
      margin: auto;
    }
  }
  .skills__grid {
    margin-top: 50px;
    .container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      width: 75%;
      margin: auto;
      column-gap: 8px;
      row-gap: 30px;
    }
  }
}
