.service__card {
  padding: 100px 0;
  .container {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    width: 65%;
    margin: auto;
    overflow: hidden;
    .service__illustration {
      position: relative;
      width: 406px;
      height: 300px;
    }
    h2 {
      padding: 20px 0;
      font-family: 'Abril Fatface', sans-serif;
      font-weight: normal;
      font-size: 35px;
      color: $very-dark-gray;
    }
    p {
      color: $very-dark-gray;
      font-size: 18px;
      opacity: 80%;
      line-height: 1.5;
      font-weight: 600;
      margin: auto;
    }
  }
}
