.service__card {
  padding-top: 80px;
  .container {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    gap: 50px;
    margin: auto;
    .service__illustration {
      position: relative;
      width: 406px;
      height: 300px;
    }
    h2 {
      padding: 20px 0;
      font-family: 'Abril Fatface', sans-serif;
      font-weight: normal;
      font-size: 35px;
      color: $very-dark-gray;
    }
    p {
      color: $very-dark-gray;
      font-size: 18px;
      opacity: 80%;
      line-height: 1.5;
      width: 95%;
      text-align: left;
      letter-spacing: 0.8px;
    }
    .primary__btn__container {
      margin-top: 20px;
      .primary__btn {
        padding: 15px 35px;
      }
      .ghost__button {
        width: 145px;
        height: 55px;
      }
    }
  }
}
