footer {
  background-color: $beige;
  margin: 0 20px;
  margin-bottom: 20px;
  .container {
    margin: auto;
    overflow: hidden;
    width: 85%;
    padding-top: 30px;
    padding-bottom: 20px;
    .footer__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      @media screen and (max-width: 800px) {
        flex-flow: column nowrap;
        align-items: flex-start;
      }
      h1 {
        font-family: 'Abril Fatface', sans-serif;
        font-weight: normal;
        font-size: 50px;
        color: $very-dark-gray;
        @media screen and (max-width: 400px) {
          font-size: calc(30px + 1vh);
          width: 90%;
        }
        @media screen and (max-width: 800px) {
          text-align: left;
        }
        .line__container {
          margin-left: 5px;
          [data-aos='scale-animation-first'] {
            width: 0;
            transition: all 0.5s ease-in-out;
            transition-delay: 0.6s;
            &.aos-animate {
              width: 95%;
            }
          }
        }
      }
      .footer__description {
        color: $very-dark-gray;
        font-size: 18px;
        padding-top: 20px;
        line-height: 1.8;
        text-align: left;
        width: 40%;
        @media screen and (max-width: 1100px) {
          width: 60%;
        }
        @media screen and (max-width: 800px) {
          width: 80%;
        }
        @media screen and (max-width: 600px) {
          width: 95%;
        }
        span {
          font-weight: bold;
        }
        [data-aos='scale-animation-second'] {
          width: 0;
          transition: all 0.5s ease-in-out;
          transition-delay: 1.2s;
          &.aos-animate {
            width: 95%;
          }
        }
      }
    }
    .copyright {
      margin-top: 120px;
      @media screen and (max-width: 800px) {
        margin-top: 80px;
      }
      color: $very-dark-gray;
      font-size: 16px;
      opacity: 70%;
      padding-top: 80px;
      line-height: 1.5;
      font-weight: 300;
      text-align: left;
    }
  }
}
