.project__skills__section {
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 20px;
  .project__skills__head {
    text-align: center;
    h1 {
      font-family: 'Abril Fatface', sans-serif;
      font-weight: normal;
      font-size: 40px;
      color: $very-dark-gray;
      [data-aos='scale-animation'] {
        left: 10px;
        width: 0;
        transition: all 0.5s ease-in-out;
        transition-delay: 0.8s;
        &.aos-animate {
          width: 100px;
        }
      }
      @media screen and (max-width: 280px) {
        font-size: calc(25px + 1vh);
      }
      span {
        color: $dark-caramel;
      }
    }
    p {
      color: $very-dark-gray;
      font-size: 20px;
      padding-top: 20px;
      line-height: 1.8;
      width: 30%;
      margin: auto;
      @media screen and (max-width: 1300px) {
        width: 40%;
      }
      @media screen and (max-width: 1000px) {
        width: 50%;
      }
      @media screen and (max-width: 800px) {
        width: 60%;
      }
      @media screen and (max-width: 600px) {
        width: 70%;
      }
      @media screen and (max-width: 400px) {
        width: 80%;
      }
      @media screen and (max-width: 280px) {
        font-size: 18px;
      }
    }
  }
  .project__skills__grid {
    margin-top: 30px;
    .container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      width: 75%;
      margin: auto;
      column-gap: 8px;
      row-gap: 30px;
      @media screen and (max-width: 280px) {
        grid-template-columns: 1fr;
      }
    }
  }
}
