.portfolio__section {
  margin-top: 180px;
  padding-bottom: 120px;
  position: relative;
  .dots__light__container {
    background: url('/images/dots/dots-portfolio-light.svg') no-repeat;
    background-size: contain;
    position: absolute;
    width: 187px;
    height: 250px;
    top: 0px;
    right: -80px;
    z-index: -1;
  }
  .dots__dark__container {
    background: url('/images/dots/dots-dark.svg') no-repeat;
    background-size: cover;
    position: absolute;
    width: 187px;
    height: 247.47px;
    left: 41px;
    bottom: -200px;
  }
  .portfolio__head {
    text-align: center;
    z-index: 100;
    h1 {
      font-family: 'Abril Fatface', sans-serif;
      font-weight: normal;
      font-size: 40px;
      color: $very-dark-gray;
      span {
        color: $dark-caramel;
      }
    }
    p {
      color: $very-dark-gray;
      font-size: 20px;
      margin: 20px 0;
      line-height: 1.8;
    }
  }
  .projects__grid {
    margin-top: 80px;
    .container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      width: 75%;
      margin: auto;
      gap: 40px;
    }
  }
}
