@mixin flexBoxCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.services__section {
  padding: 120px 0;
  .services__head {
    text-align: center;
    h1 {
      font-family: 'Abril Fatface', sans-serif;
      font-weight: normal;
      font-size: 40px;
      color: $very-dark-gray;
      span {
        color: $dark-caramel;
      }
      @media screen and (max-width: 400px) {
        font-size: calc(30px + 1vh);
      }
    }
    p {
      color: $very-dark-gray;
      font-size: 20px;
      padding-top: 20px;
      line-height: 1.8;
      width: 30%;
      margin: auto;
      @media screen and (max-width: 1000px) {
        width: 45%;
      }
      @media screen and (max-width: 800px) {
        width: 60%;
      }
      @media screen and (max-width: 600px) {
        width: 70%;
      }
      @media screen and (max-width: 400px) {
        width: 80%;
      }
    }
  }
  .services__list {
    ul {
      @include flexBoxCenter();
      list-style: none;
      margin-top: 40px;
      @media screen and (max-width: 600px) {
        flex-flow: column nowrap;
      }
      li {
        padding: 15px 50px;
        font-size: 18px;
        color: $very-dark-gray;
        opacity: 65%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.6);
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
          opacity: 0.95;
        }
        @media screen and (max-width: 600px) {
          width: 80%;
          text-align: center;
        }
      }
      .active {
        border-bottom: 3px solid $light-caramel;
        opacity: 1;
        font-weight: 600;
        &:hover {
          color: $very-dark-gray;
          opacity: 1;
        }
      }
    }
  }
}
