@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&display=swap');
@import '../components/Header/header';
@import '../components/Footer/footer';
@import '../components/NavBar/navbar';
@import '../components/Hero/hero';
@import '../components/Porfolio/portfolio';
@import '../components/Porfolio/ProjectCard/project';
@import '../components/Skills/skills';
@import './variables';
@import './buttons';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main__layout {
  min-height: 100vh;
  overflow: hidden;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  .wrapper {
    min-width: 250px;
    max-width: 2000px;
    margin: auto;
  }
}
.line__container {
  position: relative;
  z-index: 100;
  .line {
    z-index: -1;
    position: absolute;
    height: 17px;
    background-color: $light-caramel;
  }
}
