@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&display=swap');
@import '../components/Header/header';
@import '../components/Footer/footer';
@import '../components/NavBar/navbar';
@import '../components/Hero/hero';
@import '../components/Porfolio/portfolio';
@import '../components/Porfolio/ProjectCard/project';
@import '../components/Skills/skills';
@import '../components/Skills/SkillCard/skill';
@import '../components/Socials/socials';
@import '../components/Socials/SocialCard/social-card';
@import '../components/Advantages/advantages';
@import '../components/Advantages/AdvantagesCard/advantage';
@import '../components/Services/services';
@import '../components/Services/ServiceCard/service';
@import '../components/Button/button';
@import '../components/ProjectHero/project-hero';
@import '../components/ProjectSkills/project-skills';
@import '../components/NotFound/not-found';
@import '../components/Loading/loading';
@import './variables';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main__layout {
  min-height: 100vh;
  overflow: hidden;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  .wrapper {
    min-width: 250px;
    max-width: 2000px;
    margin: auto;
  }
}
.line__container {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  .line {
    z-index: -1;
    position: absolute;
    left: 4%;
    top: 50%;
    right: 0%;
    bottom: auto;
    height: 36%;
    margin-right: 4px;
    background-color: $light-caramel;
    -webkit-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
}
.nav__overlay {
  position: fixed;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 99999;
}
.reset__hero {
  @media screen and (max-width: 800px) {
    padding-top: 160px;
    margin-top: 20px;
  }
}
.disable__scroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.disable {
  pointer-events: none !important;
  cursor: default !important;
}

.span__card {
  grid-column: span 2;
  @media screen and (max-width: 1300px) {
    grid-column: auto;
  }
}

html {
  --spinner: #db7406;
  --center: translate(-50%, -50%);
}
